@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.main {
  width: 100%;
  margin-top: 7vh;
  min-height: 80vh;
  
}
.form{
  display: flex;
  flex-direction: column;
}
.forgotPage{
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.forgotForm{
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
}
.verifyOtp{
  margin: 1px auto;

}

 .phone input[type=number]::-webkit-inner-spin-button, 
 .phone input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.menu{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  }
/* .menuItem{
  font-size: 10px;
} */
.sidebar{
  display: none;
}
.scrollToTop{
    position: "fixed";
    right: "1rem";
    top: "90vh"
}
.products:hover{
  transform: scale(1.02);
}
.cartFull{
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.cartmid{
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.menuList{
  display: none;
  background-color: pink;
  position: absolute;
  top: 60px;
  z-index: 5;
  cursor: pointer;
}
.menuOpen:hover .menuList{
  display: inline-block;
}
.button{
  background-color:#c339ff ;
}
.button:hover{
  background-color: #b922fa;
}
.footer{
  min-height: 6rem;
  width: 100%;
  color: white;
  background-color: #323131;
  position: relative;
  padding: 10px;
  
}
.footer a{
  color: white;
}
.footer>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gridItem{
  padding: 0;
}
.heading{
  width: 100%;
  position: absolute;
  top: 6rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
}
 #addressSave{
  margin-left: 20%;
}
.orderDetails h6{
  font-size: 18px;
  font-weight: light;
}
.orderDetails span{
  float: right;
}
.checkout{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
