.main {
  width: 100%;
  margin-top: 8.5vh;
  height: 91.5vh;
  overflow-y: auto;
}
.form{
  display: flex;
  flex-direction: column;
}
 .phone input[type=number]::-webkit-inner-spin-button, 
 .phone input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.menu{
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  }
.menuItem{
  font-size: 10px;
}
.sidebar{
  display: none;
}